stages:
  - deploy

deploy_to_ec2:
  stage: deploy
  image: ubuntu:latest
  script:
    - apt-get update && apt-get install \-y openssh-client
       # Store private key in a temporary file
    - mkdir -p ~/.ssh
    - echo "$EC2_PRIVATE_KEY" > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - ssh-keyscan -t ed25519 44.208.167.228 >> ~/.ssh/known_hosts
    - eval "$(ssh-agent -s)"
    # - echo "$EC2_PRIVATE_KEY" > larparte-keypair.pem
    # - chmod 600 larparte-keypair.pem

    # SSH into the EC2 instance and run the script
    - ssh root@44.208.167.228 "cd /home/ubuntu && chmod +x test.sh && ./test.sh"
    #- ssh -o StrictHostKeyChecking=no -i larparte-keypair.pem ubuntu@$SERVER_IP "cd /home/ubuntu && chmod +x test.sh && ./test.sh"
  only:
    - feat/docker  
