stages:
  - deploy

deploy_to_ec2:
  stage: deploy
  image: ubuntu:latest
  variables:
    SSH_PRIVATE_KEY: $EC2_PRIVATE_KEY  # Assuming you have stored the private key in GitLab CI/CD environment variables
  before_script:
    - apt-get update && apt-get install -y openssh-client
    # Set permissions for the private key
    - echo "$SSH_PRIVATE_KEY" > /root/.ssh/id_rsa
    - chmod 600 /root/.ssh/id_rsa
    # Add the EC2 instance's host key to known_hosts
    - ssh-keyscan -H $SERVER_IP >> /root/.ssh/known_hosts
  script:
    # SSH into the EC2 instance and execute commands
    - ssh -i /root/.ssh/id_rsa ubuntu@$SERVER_IP "cd home/ubuntu && chmod +x test.sh && ./test.sh"
  only:
    - feat/docker  
