stages:
  - deploy

deploy_to_ec2:
  stage: deploy
  script:    
   # Store private key in a temporary file
    - mkdir -p ~/.ssh
    - echo "$EC2_PRIVATE_KEY" > ec2_private_key.pem
    - chmod 600 ec2_private_key.pem
    - ssh-keyscan -t ed25519 44.208.167.228 >> ~/.ssh/known_hosts
    - eval "$(ssh-agent -s)"
    
    # SSH into the EC2 instance and run the script
    - ssh -i ec2_private_key.pem ubuntu@$SERVER_IP "cd /home/ubuntu && chmod +x test.sh && ./test.sh"
  only:
    - feat/docker  
