stages:
  - deploy

deploy_to_ec2:
  stage: deploy
  script:
    # Install dependencies (e.g., ssh, awscli) and configure access to the EC2 instance
    - apt-get update && apt-get install -y openssh-client awscli
    - aws configure set aws_access_key_id $AWS_ACCESS_KEY_ID
    - aws configure set aws_secret_access_key $AWS_SECRET_ACCESS_KEY
    - aws configure set default.region $AWS_REGION
    
   # Store private key in a temporary file
    - echo "$EC2_PRIVATE_KEY" > ec2_private_key.pem
    - chmod 600 ec2_private_key.pem
    
    # SSH into the EC2 instance and run the script
    - ssh -i ec2_private_key.pem ec2-user@your-ec2-instance-ip 'bash -s' < path/to/your/script.sh
  only:
    - feat/docker  # Run this job only when changes are pushed to the master branch
