

/*
You do not need to worry about .error {} colliding with any other `.css` or
`.module.css` files!
*/
.html5-video-player a {
    color: white !important;
    background-color: red !important;
    display: none !important;;

  }