@import url("https://fonts.cdnfonts.com/css/md-nichrome-test");
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: 'CustomFont';
  src: url('../../fonts/MatterSQ-Regular.woff')format('woff');
}

@font-face {
  font-family: 'CustomFontBold';
  src: url('../../fonts/MatterSQ-SemiBold.woff')format('woff');
}

@font-face {
  font-family: 'CustomFontMedium';
  src: url('../../fonts/MatterSQ-Medium.woff')format('woff');
}

.font400{
  font-family: 'CustomFont' !important;
}

.font500{
  font-family: 'CustomFontMedium' !important;
}

.font600{
  font-family: 'CustomFontBold' !important;
}


.gradient {
  /* background: linear-gradient(to right, #000000 0%, #000000 100%); */
  /* You can adjust the direction ('to right', 'to left', 'to top', 'to bottom', etc.) and percentages as needed */
}

.background1 {
  background-image: url("../../public/webp/bg1.png");
  background-size: cover;
}

.background2 {
  background-image: url("../../public/webp/bg2.png");
  background-size: cover;
}

.header {
  background-image: url("../../public/webp/header.png");
  background-size: cover;
}

.heroShadow {
  background-image: url("../../public/webp/bottomHero.png");
  background-size: contain;
}

.font-1 {
  font-family: "MD Nichrome Test", sans-serif !important;
}
.font-2{
  font-family: "Inter", sans-serif;
}

.body{
  font-family: 'CustomFont' !important;
}



.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Default spacing */
.swiper-slide {
  margin-right: 20px !important; /* Default spacing between items */
}

@media (max-width: 820px) {
  .swiper-slide {
    margin-right: 10px !important; /* Adjust spacing for smaller screens */
    width: 182px;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .swiper-slide {
    margin-right: 10px !important; /* Adjust spacing for smaller screens */
    width: 182px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .swiper-slide {
    margin-right: 16px !important; /* Further adjust spacing for even smaller screens */
    width: 175px !important;
  }
}

@media (max-width: 390px) {
  .swiper-slide {
    margin-right: 16px !important; /* Further adjust spacing for even smaller screens */
    width: 155px !important;
  }
}

@media (max-width: 360px) {
  .swiper-slide {
    margin-right: 16px !important; /* Further adjust spacing for even smaller screens */
    width: 150px !important;
  }
}