@import url("https://fonts.cdnfonts.com/css/md-nichrome-test");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");
@import url("https://c.webfontfree.com/c.js?f=MatterSQ-Light");
@import url("https://db.onlinewebfonts.com/c/367cb1d4d8a017fec88cbbcf75d6b3cc?family=Matter+SQ+Medium");
/* @import "~video-react/styles/scss/video-react";  */

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CustomFont";
  src: url("/fonts/Matter/WEB/Matter-Light.woff") format("woff");
}

@font-face {
  font-family: "CustomFontBold";
  src: url("/fonts/Matter/WEB/Matter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "CustomFontMedium";
  src: url("/fonts/Matter/WEB/Matter-Medium.woff") format("woff");
}

.font400 {
  /* font-family: 'CustomFont' !important; */
  font-family: "CustomFont" !important;
  /* font-weight: 100 !important; */
}

.font500 {
  font-family: "CustomFontMedium" !important;
}

.font600 {
  font-family: "CustomFontBold" !important;
}

.gradient {
  /* background: linear-gradient(to right, #000000 0%, #000000 100%); */
  /* You can adjust the direction ('to right', 'to left', 'to top', 'to bottom', etc.) and percentages as needed */
}

.background1 {
  background-image: url("../../public/webp/bg1.png");
  background-size: cover;
}

.background2 {
  background-image: url("../../public/webp/bg2.png");
  background-size: cover;
}

.header {
  background-image: url("../../public/webp/header.png");
  background-size: cover;
}

.heroShadow {
  background-image: url("../../public/webp/bottomHero.png");
  background-size: contain;
}

.font-1 {
  font-family: "MD Nichrome Test", sans-serif !important;
}
.font-2 {
  font-family: "Inter", sans-serif;
}

body {
  /* font-family: 'CustomFont' !important; */
  font-family: "MatterSQ-Medium", sans-serif, cursive !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  /* background: #fff; */

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* Default spacing */
.swiper-slide {
  margin-right: 20px !important; /* Default spacing between items */
}

@media (max-width: 820px) {
  .swiper-slide {
    margin-right: 10px !important; /* Adjust spacing for smaller screens */
    width: 182px;
  }
}

/* Media query for smaller screens */
@media (max-width: 768px) {
  .swiper-slide {
    margin-right: 10px !important; /* Adjust spacing for smaller screens */
    width: 182px;
  }
}

/* Media query for even smaller screens */
@media (max-width: 480px) {
  .swiper-slide {
    margin-right: 16px !important; /* Further adjust spacing for even smaller screens */
    width: 160px !important;
  }
}

@media (max-width: 390px) {
  .swiper-slide {
    margin-right: 16px !important; /* Further adjust spacing for even smaller screens */
    width: 155px !important;
  }
}

@media (max-width: 360px) {
  .swiper-slide {
    margin-right: 16px !important; /* Further adjust spacing for even smaller screens */
    width: 138px !important;
  }
}

.dropdownIII {
  position: absolute;
  inset: auto auto 0px 0px;
  /* transform: translate3d(0px, -60px, 0px); */
}

.dropdownII {
  inset: -1px 1px 5px auto;
  transform: translate3d(0px, 60.5px, 0px);
}

.shadow-1 {
  box-shadow: 0px 0px 0px 0px #bacff71f inset;
}

.shadow-2 {
  box-shadow: 0px 24px 48px 0px #a8d8f50f inset;
}

.shadow-3 {
  box-shadow: 0px 1px 1px 0px #d8ecf833 inset;
}

.shadow-4 {
  box-shadow: 0px 0px 0px 2px #bacff71f inset !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

img,
video {
  /* height: 100vh !important; */
}

.vds-controls-group {
  display: none;
}

.newRole video {
  object-fit: cover;
  height: 100vh;
}

.showImage {
  box-shadow: inset 0 0 0 2000px rgba(0, 0, 0, 0.2);
}

.customScrollHorizontal::-webkit-scrollbar {
  height: 0px;
  width: 0px;
}

.customScrollHorizontal::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.customScrollHorizontal::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #fa4354;
  background-clip: content-box;
}

.customScrollVertical::-webkit-scrollbar {
  width: 10px; /* Adjust width as needed */
  height: auto; /* Reset height to auto for vertical scrollbar */
}

.customScrollVertical::-webkit-scrollbar-track {
  border-radius: 10px;
  background-color: white;
}

.customScrollVertical::-webkit-scrollbar-thumb {
  border: 1px solid transparent;
  border-radius: 100px;
  background-color: #fa4354;
  background-clip: content-box;
}

/*  */

body {
  margin: 0;
}
#root {
  max-width: 100vw;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #099dfd);
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

#channelName {
  display: block;
  padding: 15px;
  margin: 0 0 25px;
  width: 50vw;
  max-width: 500px;
}

.card button:hover {
  border-color: #099dfd;
  background-color: #099dfd;
}

#controlsToolbar {
  bottom: 35px;
  right: 35px;
  position: fixed;
  z-index: 99;
}

#mediaControls button {
  margin: 0 5px 7.5px;
  padding: 10px;
}

#mediaControls button:hover {
  border-color: #099dfd;
}

#endConnection {
  border-color: red;
  opacity: 50%;
}

#endConnection:hover {
  background-color: red;
  border-color: white;
  opacity: 100%;
}

#localVideo {
  width: 50vw;
  aspect-ratio: 16/9;
  max-width: 100%;
  min-width: 100%;
  position: fixed;
  right: 25px;
  bottom: 25px;
  margin: 0;
}

#remoteVideoGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* justify-content: center; */
  align-items: center;
}

.remote-video-container {
  position: relative;
  width: 25vw;
  aspect-ratio: 4/3;
  max-width: 720px;
  min-width: 360px;
  overflow: hidden;
}

/* .Toastify__progress-bar--wrp {
  display: none !important;
} */

.progress-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 10px;
  background: var(--red);
  transform-origin: 0%;
}

/* custom-swiper.css */

/* Swiper Navigation Buttons */
.custom-button-prev,
.custom-button-next {
  width: 30px;
  height: 30px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* Next Button */
.custom-button-next {
  &::after {
    content: "next";
  }
}

/* RTL Mode */
.swiper-rtl .custom-button-prev::after {
  content: "next";
}

