.fade-out {
    animation: fadeOut 2s ease forwards;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .slider {
    position: relative;
    height: 20px; /* Adjust height as needed */
  }
  
  .slider div {
    position: absolute;
    bottom: 0;
    animation: slideIn 2s ease forwards;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateY(100%);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }


  .heightII{
    max-height: -webkit-fill-available
  }